body{
	background:#EAEAEA;
	width:900px;
	margin: 0 auto;
	color:#424242;
	padding:50px;
	font-family: Open Sans;
}

.sites a{
	text-decoration:none;
	color:inherit;
}

h1, h3{
	text-align: center;
	font-family: Bree Serif;
}

.color{
	float:left;
	width:1px;
	height:200px
}

.color span{
	display:none;
	position:absolute;
	background:#fff;
	padding:5px;
	color:#000;
}

.color:hover span{
	display:block;
}

.explanation{
	border-top:#939292;
	width:600px;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 15pt;
	color:#1C1C1C;
}

.holder{
	clear:both;
	margin: 0 auto;
	overflow:hidden;
	width:573px;
	border:1px solid #707070;
	margin-top:20px;
	margin-bottom: 3px;
}

.caption{
	position:relative;
	left:164px;
	font-size:12pt;
}

.sites{
	text-align:center;
	width:450px;
	margin: 0 auto;
	clear:both;
	border-top:2px solid #939292;
	margin-top:50px;
	padding-top:10px;
	font-size:14pt;
	font-family: Arial;
}

@media (max-width : 480px){

	html, body{
		width:100%;
		padding-left:0px;
		padding-right:0px;
		padding-top:5px;
		margin:0px;
	}

	.explanation, .sites, .holder{
		width:90%;
		margin:0 auto;
	}

	.explanation, .sites{
		font-size: 16pt;
	}

	.caption{
		font-size: 13pt;
		left:0px;
		width:90%;
		margin:0 auto;
		display:block;
		text-align:center;
		margin-bottom:10px;
	}

	.color{
		float:none;
		display:block;
		width:100%;
		height:1px;
	}
}