code{
	background:$light-grey;
	padding:0px;
	font-family: $monospace;
	font-size:$size-4;
	padding:3px 4px;
	white-space:nowrap;
}

.color-preview{
	height: $size-4;
	width: $size-4;
	border:$size-0 solid $off-white;
	display: inline-block;
	position: relative;
	top: 2pt;
	margin-right: $size-2;
}

pre{
	display:block;

	*{
		font-family: $monospace;
	}

	 ol{
		font-size:$size-4;
		padding:0;

		li{
			clear: both;
			padding:0;
			padding-bottom:0px;
			font-size:$size-4;
		}
	}
}

.javascript{
	.st0{
		color:#C54E2C;
	}

	.kw1{
		color:#0B24FB;
	}

	.de1{
		color:$dark-grey;
	}

	.me1{
		color: #80a;
	}

	.br0, .sy0{
		color:$off-black;
	}
}

.codeFigure{
	max-height:1000px;
	overflow:hidden;
	@include transition_mixin(all 600ms);

	&.hiddenHeight{
		max-height:0;
		padding:0;
		margin:0;
	}
}