code{
	background:$light-grey;
	padding:0px;
	font-family: $monospace;
	font-size:$size-4;
	padding:3px 4px;	
}

pre{
	display:block;

	*{
		font-family: $monospace;
	}

	 ol{
		font-size:$size-4;
		padding:0;

		li{
			background:$light-grey;	
			padding:0;
			counter-increment: customlistcounter;
			padding-bottom:0px;
			font-size:$size-4;

			
			&:first-of-type{
				counter-reset: customlistcounter;
			}	

			&:nth-of-type(odd){
				background:$grey;
			}

			&:before{
				color:$grey;	
				content: counter(customlistcounter) " ";
				float:left;
				background:$dark-grey;
				text-align:right;
				margin-right:$size-1;	
				font-family: $monospace;	
				width:$size-7;			
			}
		}
	}
}

.javascript{
	.st0{
		color:#C54E2C;
	}

	.kw1{
		color:#0B24FB;
	}

	.de1{
		color:$dark-grey;
	}

	.me1{
		color: #80a;
	}

	.br0, .sy0{
		color:$off-black;
	}
}

.codeFigure{
	max-height:1000px;
	overflow:hidden;
	@include transition_mixin(all 600ms);

	&.hiddenHeight{
		max-height:0;
		padding:0;
		margin:0;
	}
}