.chart{
	@include clearfix();
	padding:$size-3;
}

.color{
	position:relative;

	span{
		display:none;
		position:absolute;
		background:#fff;
		padding:5px;
		top:$size-5;
		left:$size-5;
		z-index:5;	
		font-size:$size-5;
	}

	&:hover span{
		display:block;
	}	
}

.rectangle{
	height:$size-6;

	.color{
		display:inline-block;
		width:1px;
		height:100%;
	}
}

.bar{
	
	.barColumn{
		height:$size-7;
		margin-bottom:$size-2;

		.color{
			height:100%;
			width:1.6px;
			display:inline-block;

			span{
				top:$size-7;
				left:0px;
			}
		}
	}
}

svg{
	width:100%;
}

.color.listing{
	display:inline-block;
	width:$size-3;
	height:$size-3;
	line-height:0px;
	position:relative;
}

.colorPicker{
	.colorBlock{
		border-width:$size-5;
		text-align:center;
		padding:$size-1 0px;
		border-style:solid;
		margin-bottom:$size-2;
		background:$white;
		display:block;
		font-size: $size-3;
	}

	.hexSelect{
		-moz-appearance: none;
		-webkit-appearance: none;
		border: $size-0 $grey solid;
		@include radius(0px);
	}

	.colorNames{
		width:100%;
		padding:10px;
	}
}

#conversionTable{
	td{
		font-family:$monospace;
	}

	td:first-of-type{
		text-align:right;

		&:not(.ellipsis):after{
			content:'\2192';
			padding:$size-3 $size-2;
			font-family:$main-font;
			color:$dark-grey;
		}
	}

	td.ellipsis{
		text-align:center;
		font-family:$main-font;		
	}
}