.rectangle{
	max-width:1%;
	height:20px;
	overflow:hidden;

	.color{
		display:inline-block;
		width:1px;
		height:100%;

		span{
			display:none;
			position:absolute;
			background:#fff;
			padding:5px;
		}

		&:hover span{
			display:block;
		}		
	}
}

svg{
	width:100%;
}

.colorPicker{
	.color{
		border-color:#bada55;
		border-width:$size-5;
		text-align:center;
		padding:$size-1 0px;
		border-style:solid;
		margin-bottom:$size-2;
	}

	select{
		-moz-appearance: none;
		-webkit-appearance: none;
		border: $size-0 $grey solid;
	}
}

#hexConversion{
	td:first-of-type{
		text-align:right;
	}

	td.ellipsis{
		text-align:center;
	}
}