@media (max-width:900px){
	.hide-on-small, .tickMark, .scaleLabel{
		display:none;
	}

	.hide-on-medium-small{
		display:none;
	}	

	h1{
		font-size:$size-7;
	    margin-bottom:$size-6;	
	}

	#title{
		max-width:89%;
	}

	h2{
	    font-size:$size-6;
	    margin-bottom:$size-5;
	}

	nav{
		position:absolute;
		z-index:20;
		left:105%;
		top:0px;
		bottom:0px;
		background:$off-white;
		width:0%;
		overflow:hidden;
		@include transition_mixin(all $base-duration);
		@include shadow(3px 0 3px 2px $grey);

		&.open{
			left:0%;
			width:100%;
		}

		a{
			display:block;
			padding:$size-3;
			text-align:center;
			margin-bottom:$size-1;
		}
	}

	#menu-toggle{
        position:absolute;
        top:$size-4;
        right:$size-4;
        padding:$size-4;
        background:$white;
        cursor:pointer;
        z-index:25;

        svg{
            width:30px;
            fill:none;
            stroke:$off-black;
            stroke-width:5;
            display:block;

            .middle-line{
                @include transition_mixin(opacity 300ms);
            }

            &.open{
                .middle-line{
                    opacity:0;
                }
            }
        }
    }

    .color.listing{
    	width:$size-2;
    	height:$size-2;
    }

    .block.chart{
    	padding:$size-3 0;

    	label{
    		display:block;
    	}
    }

    pre{
    	overflow-x:scroll;
    	background:$light-grey;
    	padding:$size-3;
    }
}

@media (min-width:901px){
	main{
		margin-left:$aside-offset;
		margin-top:$size-10;
	}

	.hide-on-medium-large{
		display:none;
	}

	nav{
		text-align:right;
		position: fixed;
		right: 0;
		left: 0;
		top: 0;	
		background: #DDDDDD;
		padding: $size-7;
		z-index:100;

		a:not(.button){
			padding:$size-6;
			color:$dark-grey;
			text-align:center;	
			position:relative;
			
			&:after{
				content:'';
				position:absolute;
				bottom:$size-5;
				width:0px;
				height:$size-1;
				background:$accent;
				@include transition_mixin(all 500ms);
				left:50%;
			}	

			&:hover:after{
				width:80%;
				left:10%;
				color:$accent;
			}	
		}
	}

	footer nav{	
		margin-top:$size-8;
	}

	aside{
		width:$aside-width;

		*{
			font-size:$size-4;
		}

		&.left{
			float:left;
			clear:left;
			margin-left:-$aside-offset;

			figure{
				float:right;
			}
		}

		&.right{
			float:right;
			clear:right;
			margin-right:-$aside-offset;
		}
	}

	.block.chart label{
		text-align:right;
		width:calc( #{$aside-offset} - 10px - #{$size-4});
		display:inline-block;
		font-size:$size-4;
		vertical-align:top;
		padding-right:$size-4;
	}

	.chart aside{
		text-align:right;
		margin-left:calc( (#{$aside-width} + 10px) * -1 );
	}

	figure.large{
		width:calc(#{$aside-offset} + #{$main-width});

		&.left, &.extra{
			margin-left:-$aside-offset;			
		}	

		&.extra{
			width:calc( (#{$aside-offset} * 2) + #{$main-width} );
		}
	}

	pre li{
		background:$light-grey;	
		counter-increment: customlistcounter;
		
		&:first-of-type{
			counter-reset: customlistcounter;
		}	

		&:nth-of-type(odd){
			background:$grey;
		}

		&:before{
			color:$grey;	
			content: counter(customlistcounter) " ";
			float:left;
			background:$dark-grey;
			text-align:right;
			margin-right:$size-1;	
			font-family: $monospace;	
			width:$size-7;			
		}
	}
}

@media (max-width:1140px) and (min-width:901px){
	.hide-on-medium-small{
		display:none;
	}

	figure.large.right, figure.extra.large{
		width:$main-width;
	}

	aside.right{
		float:left;
		margin-left:-$aside-offset;
		margin-right:auto;
	}

    figure.listings.large{
    	margin-left:0;

    	label{
    		text-align:left;
    	}
    }
}

@media (min-width:1300px){
	main{
		margin-top:0px;
	}

	header nav{
		right:0;
		bottom:0;
		left:auto;
		background:$light-grey;
		padding:$size-6;

		a{
			display:block;			
		}
	}

	footer nav{
		display:none;
	}
}