@media (max-width:900px){
	.desktop{
		display:none;
	}

	h1{
		font-size:$size-7;
	    margin-bottom:$size-6;	
	}

	h2{
	    font-size:$size-6;
	    margin-bottom:$size-5;
	}

	nav{
		position:absolute;
		z-index:20;
		left:105%;
		top:0px;
		bottom:0px;
		background:$off-white;
		width:0%;
		overflow:hidden;
		@include transition_mixin(all $base-duration);
		@include shadow(3px 0 3px 2px $grey);

		&.open{
			left:0%;
			width:100%;
		}

		a{
			display:block;
			padding:$size-3;
		}
	}

	#menu-toggle{
        position:absolute;
        top:$size-8;
        right:$size-8;
        color:$off-black;
        cursor:pointer;
        z-index:25;

        svg{
            width:30px;
            fill:none;
            stroke:$off-black;
            stroke-width:5;

            .middle-line{
                @include transition_mixin(opacity 300ms);
            }

            &.open{
                .middle-line{
                    opacity:0;
                }
            }
        }
    }
}

@media (min-width:900px){
	.mobile{
		display:none;
	}

	nav{
		float:right;

		a{
			padding:$size-6;
		}
	}

	aside{
		width:200px;

		*{
			font-size:$size-4;
		}

		&.left{
			float:left;
			clear:left;
			margin-left:-250px;

			figure{
				float:right;
			}
		}

		&.right{
			float:right;
			clear:right;
			margin-right:-250px;
		}
	}
}