@media (max-width:900px){
	.desktop{
		display:none;
	}

	h1{
		font-size:$size-7;
	    margin-bottom:$size-6;	
	}

	h2{
	    font-size:$size-6;
	    margin-bottom:$size-5;
	}

	nav{
		position:absolute;
		z-index:20;
		left:105%;
		top:0px;
		bottom:0px;
		background:$off-white;
		width:0%;
		overflow:hidden;
		@include transition_mixin(all $base-duration);
		@include shadow(3px 0 3px 2px $grey);

		&.open{
			left:0%;
			width:100%;
		}

		a{
			display:block;
			padding:$size-3;
		}
	}

	#menu-toggle{
        position:absolute;
        top:$size-8;
        right:$size-8;
        color:$off-black;
        cursor:pointer;
        z-index:25;

        svg{
            width:30px;
            fill:none;
            stroke:$off-black;
            stroke-width:5;

            .middle-line{
                @include transition_mixin(opacity 300ms);
            }

            &.open{
                .middle-line{
                    opacity:0;
                }
            }
        }
    }
}

@media (min-width:901px){
	main{
		margin-left:250px;
		margin-top:$size-8;
	}

	.mobile{
		display:none;
	}

	nav{
		width:100%;
		text-align:right;

		a{
			padding:$size-6;
			color:$dark-grey;
			text-align:center;	
			position:relative;
			
			&:after{
				content:'';
				position:absolute;
				bottom:$size-5;
				width:0px;
				height:$size-1;
				background:$grey;
				@include transition_mixin(all 500ms);
				left:50%;
			}	

			&:hover:after{
				width:80%;
				left:10%;
			}	
		}
	}

	footer nav{	
		margin-top:$size-8;
	}

	aside{
		width:200px;

		*{
			font-size:$size-4;
		}

		&.left{
			float:left;
			clear:left;
			margin-left:-250px;

			figure{
				float:right;
			}
		}

		&.right{
			float:right;
			clear:right;
			margin-right:-250px;
		}
	}

	.chart aside.left{
		text-align:right;
		margin-left:-210px;
	}

	figure.large{
		width:836px;

		&.left, &.extra{
			margin-left:-250px;			
		}	

		&.extra{
			width:1086px;
		}
	}
}

@media (min-width:1300px){
	main{
		margin-top:0px;
	}

	header nav{
		position:fixed;
		top:0px;
		right:0px;
		bottom:0px;
		width:auto;
		background:$light-grey;
		padding:$size-6;

		a{
			display:block;			
		}
	}

	footer nav{
		display:none;
	}
}