*{
    font-family:$main-font, sans-serif;
    color:$off-black;
    line-height: 150%;    
}

h1, h2, h3, h4, h5, h6{
    font-family:$second-font;       
    color:$dark-grey;
}

h1{
	font-size:$size-8;
    margin-bottom:$size-7;	
}

h2{
    font-size:$size-7;
    margin-bottom:$size-6;
}

h3{
    font-size:$size-6;
    margin-bottom:$size-5;
}

h4, p, small, figure, figcaption, code, label{
    font-size:$size-5;
    padding-bottom:$size-3;
}

span{
    font-size:inherit;
    color:inherit;
}

a:not(.button){
    font-family:inherit;
    color:$accent;

    &:hover{
        color:$hovered;
    }
}

abbr{
    text-transform: uppercase;
    letter-spacing: .03em;
    font-family:inherit;
    font-size:inherit;
    color:inherit;
}

strong{
    color:$black;
}