*{
    font-family:$main-font, sans-serif;
    color:$off-black;
    line-height: 150%;    
}

h1, h2, h3, h4, h5, h6{
    font-family:$second-font;       
    color:$dark-grey;
}

h1{
	font-size:$size-8;
    margin-bottom:$size-7;	
}

h2{
    font-size:$size-7;
    margin-bottom:$size-6;
}

h3{
    font-size:$size-6;
    margin-bottom:$size-5;
}

p, small, figcaption, code{
    font-size:$size-5;
    padding-bottom:$size-3;
}

span{
    font-size:inherit;
    color:inherit;
}

a{
    font-family:inherit;
}

.acronym{
    letter-spacing: 1px;;
}