/*/////////////////////////////////////////////////////////////////////////////
    Colors
//////////////////////////////////////////////////////////////////////////////*/

$off-black	:	#222;
$off-white	:	#f0f0f0;
$black 		:	#000;
$white 		:	#fff;

$light-grey	:	#ddd;
$grey		:	#ccc;
$dark-grey	:	#444;

$accent		:	#0C3D56;
$hovered	:	#166993;

$error		: 	#f00;

/*/////////////////////////////////////////////////////////////////////////////
    Sizing
//////////////////////////////////////////////////////////////////////////////*/

$size-8    	:   34pt;
$size-10  :   42pt;

$size-1	 :  3pt;
$size-2	 :  6pt;
$size-3	 :  8pt;
$size-4	 :  10pt;
$size-5	 :  13pt;
$size-6	 :  16pt;
$size-7	 :  21pt;
$size-8	 :  26pt;
$size-9	 :  34pt;
$size-10 :  42pt;

/*/////////////////////////////////////////////////////////////////////////////
    Animation
//////////////////////////////////////////////////////////////////////////////*/

$base-duration	: 250ms;
$base-easing	: ease-in-out;

/*/////////////////////////////////////////////////////////////////////////////
    Fonts
//////////////////////////////////////////////////////////////////////////////*/

$main-font:Roboto;
$second-font:Roboto Slab;