// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.1.0
// MIT License

$thumb-radius: 50%;
$thumb-height: 12px;
$thumb-width: 12px;

$track-width: 100%;
$track-height: 2px;

$track-radius: 5px;
$contrast: 5%;

@mixin track() {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
}

@mixin thumb() {
  height: $thumb-height;
  width: $thumb-width;
  border-radius: $thumb-radius;
  cursor: pointer;
}

[type=range] {
  -webkit-appearance: none;
  width: $track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    @include track();
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb();
    -webkit-appearance: none;
  }

  &::-moz-range-track {
    @include track();
    border-radius: $track-radius;
  }

  &::-moz-range-thumb {
    @include thumb();
  }

  &::-ms-track {
    @include track();
    background: transparent;
    border-color: transparent;
    border-width: $thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    border-radius: $track-radius * 2;
  }

  &::-ms-fill-upper {
    border-radius: $track-radius * 2;
  }

  &::-ms-thumb {
    @include thumb();
  }
}