@import 'reset';
@import 'vars';
@import 'mixins-extends';
@import 'grid';
@import 'forms';
@import 'typography';
@import 'graphs';

body{
	background:$off-white;
	padding:$size-8;
}

header, footer{

	h1{
		font-size:$size-7;
	}

	a{
		text-decoration:none;
		color:$off-black;
	}
}

main{
	padding:$size-8 0;
	max-width:440pt;
	width:100%;
	margin: 0 auto;
}

section:not(:first-of-type){
	border-top:1px solid $light-grey;
	padding-top:$size-10;
	margin-top:$size-9;
}

.subsection:not(:first-of-type){
	padding-top:$size-5;
}

figure{
	margin-bottom:$size-6;

	figcaption{
		display:block;
	}
}

.sites a{
	display:block;
}

code{
	background:$light-grey;
	padding:0px 5px;
	font-family: $monospace;
}

@import 'responsive';