/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, size-5, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*/////////////////////////////////////////////////////////////////////////////
    Colors
//////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////
    Sizing
//////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////
    Animation
//////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////
    Fonts
//////////////////////////////////////////////////////////////////////////////*/
form {
  position: relative; }

label {
  font-family: Roboto Slab, "sans-serif"; }

input, textarea {
  width: 100%;
  margin: 0px;
  padding: 6pt; }

input:not([type="submit"]):not([type="range"]), textarea {
  font-size: 13pt;
  border: 1px solid #ccc;
  padding: 3pt;
  margin-top: 3pt;
  margin-bottom: 6pt;
  border: 1px solid #ddd;
  -o-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }
  input:not([type="submit"]):not([type="range"]).error, textarea.error {
    -webkit-box-shadow: 0px 0px 3px 1px #f00;
    -moz-box-shadow: 0px 0px 3px 1px #f00;
    box-shadow: 0px 0px 3px 1px #f00; }
  input:not([type="submit"]):not([type="range"]):focus, textarea:focus {
    -webkit-box-shadow: 0px 0px 3px 1px #166993;
    -moz-box-shadow: 0px 0px 3px 1px #166993;
    box-shadow: 0px 0px 3px 1px #166993; }

.error_text {
  padding: 6pt;
  background: #f00;
  color: #f0f0f0;
  display: none;
  margin: 6pt 0; }

#success {
  display: none;
  position: absolute;
  top: 21pt; }

.button, input[type=submit] {
  -webkit-appearance: none;
  font-size: 13pt;
  background: #0C3D56;
  color: #f0f0f0;
  padding: 6pt;
  -o-border-radius: 6pt;
  -ms-border-radius: 6pt;
  -webkit-border-radius: 6pt;
  border-radius: 6pt;
  padding: 13pt 16pt;
  margin-top: 13pt;
  margin-right: 6pt;
  border: 0px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  -o-transition: background 250ms ease-in-out;
  -ms-transition: background 250ms ease-in-out;
  -webkit-transition: background 250ms ease-in-out;
  transition: background 250ms ease-in-out; }
  .button:hover, input[type=submit]:hover {
    background: #166993; }
  .button *, input[type=submit] * {
    font-size: inherit; }

* {
  font-family: Roboto, "sans-serif", sans-serif;
  color: #222;
  line-height: 150%; }

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto Slab, "sans-serif";
  color: #444; }

h1 {
  font-size: 26pt;
  margin-bottom: 21pt; }

h2 {
  font-size: 21pt;
  margin-bottom: 16pt; }

h3 {
  font-size: 16pt;
  margin-bottom: 13pt; }

h4, p, small, figure, figcaption, code, label, li, aside {
  font-size: 13pt;
  padding-bottom: 8pt; }

span {
  font-size: inherit;
  color: inherit; }

a:not(.button) {
  font-family: inherit;
  color: #0C3D56; }
  a:not(.button):hover {
    color: #166993; }

abbr {
  text-transform: uppercase;
  letter-spacing: .03em;
  font-family: inherit;
  font-size: inherit;
  color: inherit; }

strong {
  color: #000; }

ol {
  padding-left: 42pt; }
  ol li {
    padding-left: 3pt; }

.block.chart {
  padding: 8pt;
  font-size: 0px; }
  .block.chart:after {
    content: "";
    display: table;
    clear: both; }

.color {
  position: relative; }
  .color span {
    display: none; }
  .color:hover span {
    display: block; }

.bar {
  position: relative;
  padding: 10pt 0; }
  .bar .grid {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }
  .bar .barColumn {
    height: 21pt;
    margin-bottom: 6pt; }
    .bar .barColumn .color {
      height: 100%;
      width: .75px;
      display: inline-block; }
      .bar .barColumn .color span {
        top: 21pt;
        left: 0px; }
    .bar .barColumn .barCount {
      font-size: 10pt;
      display: inline-block;
      vertical-align: middle;
      margin-left: 3pt;
      position: relative;
      top: -3pt; }
  .bar .tickMark {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #ccc; }
  .bar .scaleLabel {
    position: absolute;
    width: 100px;
    text-align: center;
    margin-left: -50px;
    bottom: -13pt;
    font-size: 8pt; }

svg {
  width: 100%; }

.hoverColor, .color span {
  position: absolute;
  background: #fff;
  padding: 5px;
  top: 13pt;
  left: 13pt;
  z-index: 5;
  font-size: 13pt;
  white-space: nowrap; }

.color.listing {
  display: inline-block;
  width: 10pt;
  height: 10pt;
  line-height: 0px;
  position: relative; }

.colorPicker .colorBlock {
  border-width: 13pt;
  text-align: center;
  padding: 3pt 0px;
  border-style: solid;
  margin-bottom: 6pt;
  background: #fff;
  display: block;
  font-size: 8pt; }
.colorPicker .colorNames {
  width: 100%;
  padding: 10px; }

#conversionTable td {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; }
#conversionTable td:first-of-type {
  text-align: right; }
  #conversionTable td:first-of-type:not(.ellipsis):after {
    content: '\2192';
    padding: 8pt 6pt;
    font-family: Roboto, "sans-serif";
    color: #444; }
#conversionTable td.ellipsis {
  text-align: center;
  font-family: Roboto, "sans-serif"; }

code {
  background: #ddd;
  padding: 0px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 10pt;
  padding: 3px 4px; }

code {
  white-space: nowrap; }

pre {
  display: block; }
  pre * {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; }
  pre ol {
    font-size: 10pt;
    padding: 0; }
    pre ol li {
      padding: 0;
      padding-bottom: 0px;
      font-size: 10pt; }

.javascript .st0 {
  color: #C54E2C; }
.javascript .kw1 {
  color: #0B24FB; }
.javascript .de1 {
  color: #444; }
.javascript .me1 {
  color: #80a; }
.javascript .br0, .javascript .sy0 {
  color: #222; }

.codeFigure {
  max-height: 1000px;
  overflow: hidden;
  -o-transition: all 600ms;
  -ms-transition: all 600ms;
  -webkit-transition: all 600ms;
  transition: all 600ms; }
  .codeFigure.hiddenHeight {
    max-height: 0;
    padding: 0;
    margin: 0; }

body {
  background: #f0f0f0;
  padding: 26pt; }

header a, footer a {
  text-decoration: none;
  color: #222; }

main {
  max-width: 440pt;
  width: 100%; }

section:not(:first-of-type) {
  border-top: 1px solid #ddd;
  padding-top: 42pt;
  margin-top: 34pt; }

.subsection:not(:first-of-type) {
  padding-top: 42pt; }
  .subsection:not(:first-of-type) .subsection {
    padding-top: 21pt; }

figcaption {
  display: block; }

.hidden {
  display: none; }

.loading {
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 5px;
  border-color: #166993;
  border-top-color: #fff;
  height: 30px;
  width: 30px;
  border-style: solid;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(359deg); } }
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg); }
  to {
    -o-transform: rotate(359deg); } }
@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
@media (max-width: 900px) {
  .hide-on-small, .tickMark, .scaleLabel {
    display: none; }

  .hide-on-medium-small {
    display: none; }

  h1 {
    font-size: 21pt;
    margin-bottom: 16pt; }

  #title {
    max-width: 89%; }

  h2 {
    font-size: 16pt;
    margin-bottom: 13pt; }

  nav {
    position: absolute;
    z-index: 20;
    left: 105%;
    top: 0px;
    bottom: 0px;
    background: #f0f0f0;
    width: 0%;
    overflow: hidden;
    -o-transition: all 250ms;
    -ms-transition: all 250ms;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    -webkit-box-shadow: 3px 0 3px 2px #ccc;
    -moz-box-shadow: 3px 0 3px 2px #ccc;
    box-shadow: 3px 0 3px 2px #ccc; }
    nav.open {
      left: 0%;
      width: 100%; }
    nav a {
      display: block;
      padding: 8pt;
      text-align: center;
      margin-bottom: 3pt; }

  #menu-toggle {
    position: absolute;
    top: 10pt;
    right: 10pt;
    padding: 10pt;
    background: #fff;
    cursor: pointer;
    z-index: 25; }
    #menu-toggle svg {
      width: 30px;
      fill: none;
      stroke: #222;
      stroke-width: 5;
      display: block; }
      #menu-toggle svg .middle-line {
        -o-transition: opacity 300ms;
        -ms-transition: opacity 300ms;
        -webkit-transition: opacity 300ms;
        transition: opacity 300ms; }
      #menu-toggle svg.open .middle-line {
        opacity: 0; }

  .color.listing {
    width: 6pt;
    height: 6pt; }

  .block.chart {
    padding: 8pt 0; }

  pre {
    overflow-x: scroll;
    background: #ddd;
    padding: 8pt; } }
@media (min-width: 901px) {
  main {
    margin-left: 250px;
    margin-top: 26pt; }

  .hide-on-medium-large {
    display: none; }

  nav {
    width: 100%;
    text-align: right; }
    nav a {
      padding: 16pt;
      color: #444;
      text-align: center;
      position: relative; }
      nav a:after {
        content: '';
        position: absolute;
        bottom: 13pt;
        width: 0px;
        height: 3pt;
        background: #ccc;
        -o-transition: all 500ms;
        -ms-transition: all 500ms;
        -webkit-transition: all 500ms;
        transition: all 500ms;
        left: 50%; }
      nav a:hover:after {
        width: 80%;
        left: 10%; }

  footer nav {
    margin-top: 26pt; }

  aside {
    width: 200px; }
    aside * {
      font-size: 10pt; }
    aside.left {
      float: left;
      clear: left;
      margin-left: -250px; }
      aside.left figure {
        float: right; }
    aside.right {
      float: right;
      clear: right;
      margin-right: -250px; }

  .chart aside.left {
    text-align: right;
    margin-left: -210px; }

  figure.large {
    width: 836px; }
    figure.large.left, figure.large.extra {
      margin-left: -250px; }
    figure.large.extra {
      width: 1086px; }

  pre li {
    background: #ddd;
    counter-increment: customlistcounter; }
    pre li:first-of-type {
      counter-reset: customlistcounter; }
    pre li:nth-of-type(odd) {
      background: #ccc; }
    pre li:before {
      color: #ccc;
      content: counter(customlistcounter) " ";
      float: left;
      background: #444;
      text-align: right;
      margin-right: 3pt;
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      width: 21pt; } }
@media (max-width: 1140px) and (min-width: 901px) {
  .hide-on-medium-small {
    display: none; }

  figure.large.right, figure.extra.large {
    width: 440pt; }

  aside.right {
    float: left;
    margin-left: -250px;
    margin-right: auto; } }
@media (min-width: 1300px) {
  main {
    margin-top: 0px; }

  header nav {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: auto;
    background: #ddd;
    padding: 16pt; }
    header nav a {
      display: block; }

  footer nav {
    display: none; } }

/*# sourceMappingURL=style.css.map */
