@import 'reset';
@import 'vars';
@import 'mixins-extends';
@import 'forms';
@import 'typography';
@import 'graphs';
@import 'code';
@import 'mailchimp';
@import 'pickers';


body{
	background:$off-white;
	padding:$size-8;
}

nav a{
	text-decoration:none;
}

main{
	max-width:440pt;
	width:100%;
}

section:not(:first-of-type){
	border-top:1px solid $light-grey;
	padding-top:$size-10;
	margin-top:$size-9;
}

.subsection:not(:first-of-type){
	padding-top:$size-10;

	.subsection{
		padding-top:$size-7;
	}
}

figcaption{
	display:block;
}

.hidden{
	display:none;
}

.loading{
	@include radius(50%);
	border:5px;
	border-color:$hovered;
	border-top-color:$white;
	height:30px;
	width:30px;
	border-style:solid; 
	-webkit-animation: rotation .6s infinite linear;
	-moz-animation: rotation .6s infinite linear;
	-o-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@import 'responsive';